<style>

</style>

<div>
   <h1>Профиль пользователя</h1>


   <div *ngIf="!isEditing">

      <button (click)="ShowUser()">Показать</button>
   </div>

   <div *ngIf="isEditing">

      <button (click)="HideUser()">Скрыть</button>
   </div>



   <div *ngIf="isEditing" if>

      <form (ngSubmit)="saveUser()" id="hello">
         <label for="name">Имя:</label>
         <input type="text" id="name" [(ngModel)]="user.name" name="name" required>

         <label for="email">Почта:</label>
         <input type="email" id="email" [(ngModel)]="user.email" name="email">

         <label for="dob">Дата рождения:</label>
         <input type="date" id="dob" [(ngModel)]="user.dob" name="dob">

         <label for="gender">Пол:</label>
         <select id="gender" [(ngModel)]="user.gender" name="gender" required>
            <option value="male">Мужчина</option>
            <option value="female">Женщина</option>
            <option value="other">Другое</option>
         </select>
      </form>
   </div>
</div>
